<%- include('./partials/header') %>


<section class="prediction">
  <div class="left-col">
      <% if (user.avatar) { %>
        <img src="<%= user.avatar %>&sz=250" id="user-avatar">&nbsp;&nbsp;
      <% } else { %>
        <img src="https://i.imgur.com/nYZjvKS.png">
      <% } %>
      <img src="/img/<%= user.sign %>.png" id="sign-logo">
      <% if (!user.accuracy.length) {%>
      <p>Rate your horoscope</p>
      <% } else { %>
      <p>Accuracy: <span><%= accuracyRating %>%</span></p>
      <% } %>
      <h3 class="btn-favorites"><a href="/favorites">Favorites</a></h3>
  </div>
  <div class="user-details">
    <div class="user-name">
      <h2><%= user.name %></h2>
      <h4>Member Since: <%= user.createdAt.toDateString() %></h4>
    </div>
    <% if (user.sign) { %>
      <h3><%= user.sign %></h3>
    <% } %>
    <div class="select-signs">
      <div id="Aquarius"><img src="/img/aquarius.png" alt="Aquarius">Aquarius</div>
      <div id="Pisces"><img src="/img/pisces.png" alt="Pisces">Pisces</div>
      <div id="Aries"><img src="/img/aries.png" alt="Aries">Aries</div>
      <div id="Taurus"><img src="/img/taurus.png" alt="Taurus">Taurus</div>
      <div id="Gemini"><img src="/img/gemini.png" alt="Gemini">Gemini</div>
      <div id="Cancer"><img src="/img/cancer.png" alt="Cancer">Cancer</div>
      <div id="Leo"><img src="/img/leo.png" alt="Leo">Leo</div>
      <div id="Virgo"><img src="/img/virgo.png" alt="Virgo">Virgo</div>
      <div id="Libra"><img src="/img/libra.png" alt="Libra">Libra</div>
      <div id="Scorpio"><img src="/img/scorpio.png" alt="Scorpio">Scorpio</div>
      <div id="Sagittarius"><img src="/img/sagittarius.png" alt="Sagittarius">Sagittarius</div>
      <div id="Capricorn"><img src="/img/capricorn.png" alt="Capricorn">Capricorn</div>
    </div>
    <form method="POST" action="/profile">
      <input type="hidden" name="sign">
      <input type="submit" value="Save Sign">
    </form>
    <div class="profile-prediction">
      <div class="profile-today">
        <h3 class="title-today">Today</h3>
        <% if (favorited) { %>
          <a href="/favorites/<%= horoscope._id %>/delete/" class="img-favorite"><img src="/img/star_favorite_on.png"></a>
        <% } else { %>
          <a href="/favorites/<%= signData.date %>" class="img-favorite"><img src="/img/star_favorite.png"></a>
        <% } %>
      </div>

      <p><%= signData.horoscope %></p>
      <div class="btn-accuracy">
          <% if (accuracyDoc) { %>
            <form action="/accuracy/<%= accuracyDoc._id %>?_method=PUT" method="POST"><button type="submit">Undo Rating</button></form>
          <% } else { %>
            <form action="/accuracy/<%= signData.date %>/T?_method=PUT" method="POST"><button type="submit"> &#128077; </button></form>
            <form action="/accuracy/<%= signData.date %>/F?_method=PUT" method="POST"><button type="submit">	&#128078; </button></form>
          <% } %>
      </div>
          
          <ul class="sign-period">
            <li><a href="/horoscope/week/<%= signData.sunsign %>">Weekly</a></li>
            <li><a href="/horoscope/month/<%= signData.sunsign %>">Monthly</a></li>
            <li><a href="/horoscope/year/<%= signData.sunsign %>">Yearly</a></li>
          </ul>
        </div>
      </div>
    </section>
    
    <script>
      var signs = document.querySelectorAll('.select-signs div');
      document.querySelector('.select-signs').addEventListener('click', function(evt) {
        if (!evt.target.tagName === 'IMG');
        signs.forEach( div => div.classList.add('unselected-sign') );
        var sign = evt.target.parentElement.id;
        evt.target.parentElement.classList.remove('unselected-sign');
        document.querySelector("input[name='sign']").value = sign;
      })
      
      </script>

<%- include('./partials/footer') %>
