<%- include('./partials/header') %>


<section class="prediction">
  <div class="left-col">
      <% if (user.avatar) { %>
        <img src="<%= user.avatar %>&sz=250" id="user-avatar">&nbsp;&nbsp;
      <% } else { %>
        <img src="https://i.imgur.com/nYZjvKS.png">
      <% } %>
      <img src="/img/<%= user.sign %>.png" id="sign-logo">
      <p>Accuracy: <%= user.accuracy %><span>97%</span></p>
      <h3 class="btn-favorites"><a href="/favorites">Favorites</a></h3>
  </div>
  <div class="user-details">
    <div class="user-name">
      <h2><%= user.name %></h2>
      <h4>Member Since: <%= user.createdAt.toDateString() %></h4>
    </div>
    <% if (user.sign) { %>
      <h3><a href="/horoscope/today/<%= user.sign %>" class="user-sign"><%= user.sign %></a></h3>
    <% } else { %>
      <!-- a tags for the images that will render an astrological identity -->
      <!-- simple transforms for the scalability -->
    <% } %>
    <div class="select-signs">
      <div id="Aquarius"><img src="/img/aquarius.png" alt="Aquarius">Aquarius</div>
      <div id="Pisces"><img src="/img/pisces.png" alt="Pisces">Pisces</div>
      <div id="Aries"><img src="/img/aries.png" alt="Aries">Aries</div>
      <div id="Taurus"><img src="/img/taurus.png" alt="Taurus">Taurus</div>
      <div id="Gemini"><img src="/img/gemini.png" alt="Gemini">Gemini</div>
      <div id="Cancer"><img src="/img/cancer.png" alt="Cancer">Cancer</div>
      <div id="Leo"><img src="/img/leo.png" alt="Leo">Leo</div>
      <div id="Virgo"><img src="/img/virgo.png" alt="Virgo">Virgo</div>
      <div id="Libra"><img src="/img/libra.png" alt="Libra">Libra</div>
      <div id="Scorpio"><img src="/img/scorpio.png" alt="Scorpio">Scorpio</div>
      <div id="Sagittarius"><img src="/img/sagittarius.png" alt="Sagittarius">Sagittarius</div>
      <div id="Capricorn"><img src="/img/capricorn.png" alt="Capricorn">Capricorn</div>
    </div>
    <form method="POST" action="/profile">
      <input type="hidden" name="sign">
      <input type="submit" value="Select Sign">
    </form>

    <div class="profile-prediction">
      <h3 class="title-today">Today</h3>
      <% if (favorited) { %>
        <a href="/favorites/<%= horoscope._id %>/delete/" class="img-favorite"><img src="/img/star_favorite_on.png"></a>
      <% } else { %>
        <a href="/favorites/<%= signData.date %>" class="img-favorite"><img src="/img/star_favorite.png"></a>
      <% } %>
      <p><%= signData.horoscope %></p>

      <ul class="sign-period">
          <li><a href="/horoscope/week/<%= signData.sunsign %>">Weekly</a></li>
          <li><a href="/horoscope/month/<%= signData.sunsign %>">Monthly</a></li>
          <li><a href="/horoscope/year/<%= signData.sunsign %>">Yearly</a></li>
      </ul>
    </div>
  </div>
</section>

<script>
document.querySelector('.select-signs').addEventListener('click', function(evt) {
  if (!evt.target.tagName === 'IMG');
  var sign = evt.target.parentElement.id;
  document.querySelector("input[name='sign']").value = sign;
})

</script>