<%- include('./partials/header') %>

<section class="prediction">
    <div><img src="/img/<%= signData.sign %>.png"></div>
    <div class="prediction-data">
        <h2><%= signData.sign %></h2>
        <% if (signData.date) { %>
            <p>Day: <%= signData.date.toDateString() %></p>
        <% } else if (signData.week) { %>
            <p>Week: <%= signData.week %><p>
        <% } else if (signData.month) { %>
            <p>Month: <%= signData.month %><p>
        <% } else { %>
            <p>Year: <%= signData.year %><p>
        <% } %>
        <p><%= signData.prediction %></p>
    
        <ul class="sign-period">
            <li><a href="/horoscope/week/<%= signData.sign %>">Weekly</a></li>
            <li><a href="/horoscope/month/<%= signData.sign %>">Monthly</a></li>
            <li><a href="/horoscope/year/<%= signData.sign %>">Yearly</a></li>
        </ul>
    </div>
</section>
<section class="show-bottom">
    <div class="show-signs">
            <div><a href="/horoscope/today/aquarius"><img src="/img/aquarius.png" alt="Aquarius"></a></div>
            <div><a href="/horoscope/today/pisces"><img src="/img/pisces.png" alt="Pisces"></a></div>
            <div><a href="/horoscope/today/aries"><img src="/img/aries.png" alt="Aries"></a></div>
            <div><a href="/horoscope/today/taurus"><img src="/img/taurus.png" alt="Taurus"></a></div>
            <div><a href="/horoscope/today/gemini"><img src="/img/gemini.png" alt="Gemini"></a></div>
            <div><a href="/horoscope/today/cancer"><img src="/img/cancer.png" alt="Cancer"></a></div>
            <div><a href="/horoscope/today/leo"><img src="/img/leo.png" alt="Leo"></a></div>
            <div><a href="/horoscope/today/virgo"><img src="/img/virgo.png" alt="Virgo"></a></div>
            <div><a href="/horoscope/today/libra"><img src="/img/libra.png" alt="Libra"></a></div>
            <div><a href="/horoscope/today/scorpio"><img src="/img/scorpio.png" alt="Scorpio"></a></div>
            <div><a href="/horoscope/today/sagittarius"><img src="/img/sagittarius.png" alt="Sagittarius"></a></div>
            <div><a href="/horoscope/today/capricorn"><img src="/img/capricorn.png" alt="Capricorn"></a></div>
    </div>
    <% if (user) { %>
        <% if (signData.comments) { %>
            <div>
                <h3>Add a comment to this Horoscope</h3>
                <form method="POST" action="/horoscope/<%= signData.date %>/<%= signData.sign %>/comments">
                    <input type="text" name="content" placeholder="Enter a comment">
                    <br>
                    <br>
                    <input type="submit" value="Add Comment">
                </form>
                <h3>Comments:</h3>
                <% signData.comments.forEach(function(comment) { %>
                    <p><%= comment.content %></p>
                <% }); %>
            </div>
        <% } %>
    <% } %>
</section>
    <%- include('./partials/footer') %>